.datebox {
  display: block;
  position: relative;
  background-color: $alert-color;
  font-size: 1rem;
  line-height: 1;
  padding: .875em .75em 3.875em;
  width:100%;
  color:$white;
  &:hover {
    background-color: $anchor-color-hover;
  }
}
.datebox--secondary  {
  background-color: $dark-gray;
  &:hover {
    background-color: $black;
  }
}
.datebox--mini {
  font-size: .875rem;
  padding: .875em .125em .75em;
  width: auto;
  text-align: center;
  &:hover {
    background-color: inherit;
    color:#fff;
  }
  @include breakpoint(medium) {
    font-size: 1rem;
    padding: .875em .75em .875em;
    text-align: left;
  }
}

.datebox time {
  display: block;
  font-weight: $global-weight-bold;
}

.datebox__month {
  display: block;
  font-size: .875em;
}
.datebox__day {
  display: block;
  font-size: 2.25em;
  .datebox--mini & {
    font-size: 1.5em;
    @include breakpoint(medium) {
      font-size: 2.25em;
    }
  }
}
.datebox__dayofweek {
  display: block;
  font-size: .875em;
}
.datebox__hm {
  display: block;
  font-size: .875em;
}

.datebox__smallinfo {
  margin-top: .5em;
  position: absolute;
  left: 1em;
  bottom:2.75em;
  font-size: .75em;
  font-weight: $global-weight-normal;
  font-style: italic;
}

.datebox__smallinfo--accent {
  display: inline-block;
  font-size: .75em;
  background-color: $warning-color;
  font-weight: $global-weight-bold;
  font-style: normal;
  text-transform: uppercase;
  color:$alert-color;
  padding:.125em;
}


.datebox__action {
  position: absolute;
  left:0;
  top:0;
  width:100%;
  height: 100%;
  display: block;
  font-size: .875em;
  //pointer-events: none;
  color:inherit;
  &:hover, &:focus {
    color:inherit;
  }

  span {
    position: absolute;
    bottom:1em;
    left: .75em;
    font-weight: $global-weight-bold;
    &:after {
      content: ' \00bb';
    }
  }
}