.menu--main {
  font-size: 1.125rem;
}

.menu--topsticker {
  a {
  }
  a.active {

    color:$primary-color;
    border-color:currentColor;
  }
}



.scrollmenu {
  margin:0;
  padding:0;
  list-style-type: none;
  white-space: nowrap;
  font-weight: $global-weight-bold;
  line-height: 1;
  font-size: .875rem;
  text-transform: capitalize;

  > li {
    margin:0;
    padding:0;
    display:inline-block;
    > a {
      color: inherit;
      display: block;
      padding: .333em rem-calc(map-get($grid-column-gutter,small)/2) 0;

      &:hover {
        color: $black;
      }
      &.active {
        color:$alert-color;
      }

      @include breakpoint(medium) {
        padding: .333em rem-calc(map-get($grid-column-gutter,medium)/2) 0;
      }

      @include breakpoint(large) {
        padding: .333em rem-calc(map-get($grid-column-gutter,large)/4) 0 rem-calc(map-get($grid-column-gutter,large)/2);
      }



    }
  }
  @include breakpoint(large) {
    font-size: 1rem;
  }

}


.menu--mobile {
  font-size: 1.25rem;
  text-transform: uppercase;
  > li {
    > a {

    }
  }
  .active {
    > a {
      color:inherit;
      &:before {
        position: absolute;
        content:'';
        display:block;
        width:.3666em;
        height:.3666em;
        background-color: $warning-color;
        margin-left: -.875em;
        margin-top: .31666em;
        border-radius: 50%;
      }
    }
  }
}

.menu--mobile .submenu {
  //text-transform: none;
  //margin-left: 2rem;
  padding-top: .5rem;
  padding-bottom: 1.5rem;
  font-size: .875rem;
  > li {
    > a {
      padding: .875em 1rem .875rem 2rem;
    }
  }
}


.menu--contactmenu {
  font-weight: $global-weight-normal;
  //font-family: $header-font-family;
  > li {
    > a {
      padding: .5em 0;
      span {
        //color:$medium-gray;
        //font-family: $header-font-family;
        font-weight: $global-weight-bold;
        min-width: 4em;
        display: inline-block;
        //font-size: .875em;
      }
      &:hover, &:focus {
        color:$alert-color;
        span {
          color:$body-font-color;
        }
      }
    }
  }
}

.socialnav {
  float:left;
  margin-right: 1em;
}
.menu--socialmenu {
  font-weight: $global-weight-normal;
  //font-family: $header-font-family;
  > li {
    > a {
      margin-right: .5em;
      padding: .5em .5em;
      background-color: $dark-gray;
      color:#fff;
      &:hover, &:focus {
        color:$alert-color;
      }
    }
  }
}