.menu--main {
  font-size: 1.125rem;
}

.menu--topsticker {
  a {
  }
  a.active {

    color:$primary-color;
    border-color:currentColor;
  }
}



.scrollmenu {
  margin:0;
  padding:0;
  list-style-type: none;
  white-space: nowrap;
  font-weight: $global-weight-bold;
  line-height: 1;
  font-size: .875rem;

  > li {
    margin:0;
    padding:0;
    display:inline-block;
    > a {
      color: inherit;
      display: block;
      padding: .333em rem-calc(map-get($grid-column-gutter,small)/2) 0;

      &:hover {
        color: $black;
      }
      &.active {
        color:$primary-color;
      }

      @include breakpoint(medium) {
        padding: .333em rem-calc(map-get($grid-column-gutter,medium)/2) 0;
      }

      @include breakpoint(large) {
        padding: .333em rem-calc(map-get($grid-column-gutter,large)/2) 0;
      }



    }
  }
  @include breakpoint(large) {
    font-size: 1.125rem;
  }

}


.menu--mobile {
  font-size: 1.25rem;
  text-transform: uppercase;
  > li {
    > a {

    }
  }
  .active {
    > a {
      color:inherit;
      &:before {
        position: absolute;
        content:'';
        display:block;
        width:.3666em;
        height:.3666em;
        background-color: $warning-color;
        margin-left: -.875em;
        margin-top: .31666em;
        border-radius: 50%;
      }
    }
  }
}

.menu--mobile .submenu {
  //text-transform: none;
  //margin-left: 2rem;
  padding-bottom: 1.5rem;
  font-size: .875rem;
  > li {
    > a {
      padding: .875em 1rem .875rem 2rem;
    }
  }
}
