.presslist {
  list-style-type: none;
  margin:0;
  padding:0;
  counter-reset: press-counter;
  > li {
    counter-increment: press-counter;
    display: block;
    margin:0;
    padding:0;
    &:not(:last-child) {
      //border-bottom:1px solid $light-gray;
    }
  }
}

.presslink {
  padding:.875rem 0 .5rem;
  //background-color: $medium-gray;

}
.presslink__title {
  font-family: $body-font-family;
  font-size: 1rem;
  margin:0;
  padding:0;
  &:before {
      content: counter(press-counter) '. ';
  }
  a {

    color:inherit;
    &:hover, &:focus {
      //color:inherit;
      color:$secondary-color;
      //text-decoration: underline;
    }
  }
}
.presslink__src {
  font-size: .875rem;
  //font-weight: $global-weight-bold;
  margin:0 0 0 0rem;
}
.presslink__src__medium {
  //font-weight: $global-weight-bold;
}
.presslink__src__date {
  &:before {
    content: ' | ';
    //font-weight: $global-weight-bold;
    //color:$alert-color;
  }
}