.stickynav {
  width: 100%;

  &.is-stuck {
    background-color: $white;
    border-bottom: 1px solid $light-gray;
    box-shadow: 0 0 1rem 0 rgba(#000, .125);
  }
}

.stickynav__inner {
  height: 3.25rem;
  position: relative;
}

.stickynav__themenu {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 0;
}