.stickynav {
  width: 100%;
  border-bottom: 1px solid $light-gray;
  //background-color: $white;
  background-color:  scale-color($light-gray, $lightness: $callout-background-fade);
  color:$dark-gray;

  &.is-stuck {
    background-color: $white;
    box-shadow: 0 0 1rem 0 rgba(#000, .125);


  }
}

.stickynav__inner {
  height: 3rem;
  position: relative;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
  @include breakpoint(large) {
    height: 3.5rem;
  }
}

.stickynav__themenu {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 0;
}