.topbar {
  //background-color: $extralight-gray;
  //background-color:#fff;
  border-bottom: 1px solid $light-gray;
  //box-shadow: 0 0 1px 0 rgba(#000, .0125);
  // > .row {
  //   @include breakpoint(xxlarge) {
  //     max-width: none;
  //   }
  // }
}
.topbar__inner {
  height:5rem;
  position: relative;
  z-index: 1;
}
.topbar__home {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 0;
}
.sitelogo {
  display: block;
  overflow: hidden;
  width: 9.5rem;
  height: 3rem;
  //background-color: red;
  white-space: nowrap;
  text-indent: 200%;
  background-image: url(../img/sm-logo.svg);
  background-repeat: no-repeat;
  background-position: 0;
  background-size: auto 100%;
}
.topbar__mainnav {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 0;
}
.topbar__mobileblock {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 0;
}
.menutoggler {
  @include hamburger($anchor-color, scale-color($alert-color, $lightness: -14%), 34px, 24px, 1px, 3);
}