.walkcard {
  @include clearfix();
  position: relative;
  //border:1px solid $light-gray;
  background-color: $white;
  margin:1.75rem auto;
  box-shadow: 0 0 1.5rem 0 rgba(#000,.0875);
  transition: box-shadow .2s ;
  &:hover {
    background-color: #fff;
    box-shadow: 0 0 1.5rem 0 rgba(#000,.125);
  }
}

.walkcard__img {
  img {
    display: block;
  }
}

.walkcard__head {
  position: relative;
  padding: 1.5rem 7% 1rem 7%;
  //height:3.875rem;
  //background-color: $medium-gray;

  //color:$white;
  color:$primary-color;
  //border-bottom:1px solid $light-gray;
}

.walkcard__presents {
  font-weight: $global-weight-bold;
  margin-bottom: 0;
  font-size: .875rem;
  line-height: 1.2;
  span {
    font-weight: $global-weight-normal;
    font-style: italic;
  }
}

.walkcard__title {
  font-size: 1.125rem;
  margin:0 0 .25em;
  //max-height: 2.75rem;
  //background-color: red;
  @include breakpoint(xlarge) {
    //font-size: 1.333rem;
  }
  a {
    color:inherit;
  }
}
.walkcard__subtitle {
  font-size: .875rem;
  color:$secondary-color;
  margin: 0 0;
}
.walkcard__body {
  padding:.25rem 7% 1rem;
  @include breakpoint(medium) {
      min-height: 10rem;
  }
  p {
    margin:0;
    overflow: hidden;
    font-size: .875rem;
    @include breakpoint(medium) {
      max-height: 8em;
    }
  }
}

.walkcard__foot {
  padding:1rem 7% 1.5rem;

  .button {
    margin-bottom: 0;
  }
}
.walkcard__smallinfo {
  margin: .75em 0 0 .5em;
  font-size: .75rem;
  p {
    margin:0 0 .25em;
    line-height: 1.2;
  }
}