.walkcard {
  @include clearfix();
  white-space: normal;
  position: relative;
  //border:1px solid $light-gray;
  //background-color: rgba($white,.5);
  //box-shadow: 0 0 1.5rem 0 rgba(#000,.0875);
  transition: box-shadow .2s ;
  &:hover {
    //background-color: #fff;
    //box-shadow: 0 0 1.5rem 0 rgba(#000,.125);
  }
}

.walkcard__fig {
  //display: none;
}
.walkcard__img {
  img {
    display: block;
  }
}

.walkcard__head {
  position: relative;
  padding: 1rem 0 .5rem;
  //height:3.875rem;
  //background-color: $medium-gray;

  //color:$white;
  //color:$primary-color;
  //border-bottom:1px solid $light-gray;
}

.walkcard__presents {
  font-weight: $global-weight-bold;
  margin-bottom: 0;
  font-size: .875rem;
  line-height: 1.2;
  span {
    font-weight: $global-weight-normal;
    font-style: italic;
  }
}

.walkcard__title {
  font-size: 1.125rem;
  margin:0 0 .25em;
  text-transform: uppercase;
  //color:$body-font-color;
  font-family: $body-font-family;
  //max-height: 2.75rem;
  //background-color: red;
  @include breakpoint(xlarge) {
    //font-size: 1.333rem;
  }
  a {
    color:inherit;
    &:hover, &:focus {
      //color:$primary-color;
      //text-decoration: underline;
    }
  }
}
.walkcard__subtitle {
  font-family: $body-font-family;
  font-size: 1rem;
  //color:$secondary-color;
  margin: 0 0;
}
.walkcard__body {

  @include breakpoint(medium) {
      min-height: 7rem;
  }
  p {
    margin:0;
    overflow: hidden;
    font-size: .875rem;
    @include breakpoint(medium) {
      max-height: 8em;
    }
  }
}

.walkcard__foot {
  padding:.5rem 0 1rem 0;

  .button {
    margin-bottom: 0;
  }
}
.walkcard__smallinfo {
  margin: .75em 0 0 .5em;
  font-size: .75rem;
  p {
    margin:0 0 .25em;
    line-height: 1.2;
  }
}

.walkcard__button {
  font-weight: $global-weight-bold;
  color:inherit;
  text-transform: uppercase;
  letter-spacing: .05em;
  font-size: .666rem;
  line-height: 1;
  pointer-events: auto;
  &:hover, &:focus {
    color:$alert-color;
  }
  &:before {
    display: inline-block;
    content: '\00bb';
    color:$alert-color;
    margin-right:.333em;
    transform: scale(1.333) translateY(-.1em);
  }
}