.widget--footer {
  max-width: rem-calc(420);
  margin:0 0 $global-margin*1.5;
}
.widget__title {
  font-size: 1rem;
  margin:0 0 $global-margin/2 0;
  font-family: $body-font-family;

  .widget--footer & {
    font-size: 1.25rem;
    margin:0 0 $global-margin 0;
    //text-transform: uppercase;
    font-weight: $global-weight-normal;
  }
}


