.wseries {
  //border-top:1px solid $light-gray;

  // background-repeat: no-repeat;
  // background-size: 100% auto;
  // background-position: center top;
  // background-image: url(../img/firkaalja.png);
  // background-attachment: fixed;

  &:nth-of-type(2n) {
      background-color: scale-color($light-gray, $lightness: $callout-background-fade);
      border-top: 1px solid $light-gray;
      border-bottom: 1px solid $light-gray;
  }
}

.wseries__head {
  @include grid-column-row();
  @include breakpoint(large) {
    padding-right: $global-width*0.33333;
  }
}
.wseries__shorttitle {
  font-size: .875rem;
  margin:0 0 .333em 0;
  text-transform: capitalize;
  display: inline-block;
  line-height: 1.2;

  &:after {
    content: '';
    margin-top: .333em;
    display: block;
    background-color: $alert-color;
    width:100%;
    max-width: 1.75em;
    height:.333em;
  }

  @include breakpoint(tablet) {
    font-size: 1.125rem;
  }

}
.wseries__title {
  //display: inline-block;
  font-size: 1.333rem;
  margin:0 0 .25em 0;
  @include breakpoint(tablet) {
    font-size:2.25rem;
  }
}

.wseries__lead {
  margin-bottom:1.25rem;
  @include breakpoint(tablet) {
    font-size: 1.125rem;
  }
}

.wseries__description {
  @include grid-column-row();
  @include breakpoint(large) {
    padding-right: $global-width*0.33333;
  }
}

.wseries__moreinfo {
  font-size: .75em;
  font-weight: $global-weight-bold;
  color:inherit;
  &:after {
    content: ' \00bb';
  }
}
.wseries__items {
  max-width: $grid-row-width;
  margin:0 auto;
  padding: 0 0;
}


.wseries__list {
  font-size: 0;
  padding: 0 map-get($grid-column-gutter,small)/2;
  margin: 0;
  list-style: none;
  list-style: none;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;

  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar-thumb,
  &::-webkit-scrollbar {
      display: none;
  }

  @include breakpoint(medium) {
    padding: 0 map-get($grid-column-gutter,medium)/2;
  }

  @include breakpoint(large) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-x: visible;
    overflow-y: inherit;
    word-wrap: normal;
    padding: 0 0 0;
  }
}

.wseries__list > li {
    white-space: normal;
    font-size: 1rem;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 map-get($grid-column-gutter,small)/2 0 0;
    padding:0 0;
    width: rem-calc(270);
    @include breakpoint(medium) {
      width: rem-calc(320);
      margin-right:map-get($grid-column-gutter,medium)/2;
    }

    &:last-child() {
      margin-right: 0;
    }

    @include breakpoint(large) {
      display: flex;
      width: 33.333%;
      margin:map-get($grid-column-gutter,large)/2 0;
      padding:0 map-get($grid-column-gutter,large)/2;
    }
}