.wserieslabel {
  font-variant: small-caps;
  background-color: $secondary-color;
  padding:.25em .666em .333em;
  border-radius: 3px;
  line-height: 1.2;
  color:$white;
  font-weight: $global-weight-bold;
  font-family: $header-font-family;
  display: inline-block;
  border:1px dashed $white;
  box-shadow: 0 0 0 1px $secondary-color;
  a {
    color: inherit;
  }
}