.walk__presents {
  color: $primary-color;
  margin:0;
  span {
    font-style: italic;
    font-weight: $global-weight-normal;
    font-size: .666em;
    color:$body-font-color;
  }
}
.walk__title {
  //color:$primary-color;

}

.walk__subtitle {
  font-family: $body-font-family;
  font-weight: $global-weight-normal;
}

.walk__banner {
  @include clearfix();
  background-color: $light-gray;
  //color:$white;
  @include breakpoint('medium') {
    background-image: linear-gradient(180deg, $alert-color 6.25rem, transparent 6.25rem );
  }
}

.walk__banner__one {
  @include breakpoint('medium') {
    float:left;
    width:50%;
    padding-right: .9375rem;
  }
  // @include breakpoint('large') {
  //   width:60%;
  // }
  // @include breakpoint('xxxlarge') {
  //   width:50%;
  // }

}
.walk__banner__two {
  @include breakpoint('medium') {
    float:left;
    width:50%;
    max-width: $global-width/2;
  }
  // @include breakpoint('large') {
  //   width:40%;
  // }
  // @include breakpoint('xxxlarge') {
  //   width:50%;
  // }
}

.walk__herofig {
  height: inherit;
  background-color: #000;

}

.walk__herofig img {
  @include breakpoint('medium') {
    height: 100%;
    width:100%;
    object-fit: cover;
  }
}


.walk__lead {
  p {
    font-size: 1.75em;
    font-weight: $global-weight-bold;
  }
}
.walk__important {
  background-color: $alert-color;
  color:#fff;
  padding:1rem 0;
}