<div class="bigpromoitem">
    <figure class="bigpromoitem__fig">
        <a href="single-walk.html" class="bigpromoitem__img">
            <img src="{{root}}/assets/img/9k-169.jpg" alt="Éljen a piac!">
        </a>
    </figure>
    <div class="bigpromoitem__content">
        <span class="bigpromoitem__subtext">Új Séta</span>
        <h3 class="bigpromoitem__title">Megyünk és közben nézem magunkat</h3>
        <p class="bigpromoitem__text">Lélekementő barangolások a haldokló világban a városfaltól a sóhivatalig</p>
        <a href="single-walk.html" class="button secondary small">Részletek</a>
    </div>
</div>