<div class="eventcard" data-equalizer data-equalize-on="medium">
    <section class="eventcard__peak" data-equalizer-watch>
        <a href="single-walk.html" class="eventcard__date">
            <div class="datebox datebox--mini">
                <time datetime="2017-05-15T19:00">
                <span class="datebox__month">Szeptember</span>
                <span class="datebox__day">1.</span>
                <span class="datebox__dayofweek">hétfő</span>
                <span class="datebox__hm">16:00</span>
                </time>
            </div>
        </a>
        <a href="single-walk.html" class="eventcard__img">
            <img src="http://lorempixel.com/352/198" alt="Egy csepp siker">
        </a>
    </section>
    <section class="eventcard__body" data-equalizer-watch>
        <header class="eventcard__head">
            <h3 class="eventcard__title">
            <a href="single-walk.html">Egy csepp siker <small>Nagybusszal a Zwack-család nyomában</small></a>
            </h3>
        </header>
        <div class="eventcard__description">
            <p>Három órás program buszozással és könnyű sétával a Várban és a Gellért-hegyen és unicumkóstolással a Zwack Látogatóközpontban</p>
        </div>
    </section>
    <section class="eventcard__tail" data-equalizer-watch>
        <div class="eventcard__actions">
            <a href="single-walk.html" class="button expanded secondary">Jegyvásárlás</a>
        </div>
        <div class="eventcard__smallinfo">
            <p>Ár: <strong>2 500 / 3 500 Ft</strong></p>
            <p>Időt.: <strong>3 óra</strong></p>
        </div>
    </section>
</div>