<nav class="mobilenav">
    <ul class="menu dropdown menu--mobile vertical" data-accordion-menu>
        <li><a href="{{root}}/archive-walk.html">Séták</a></li>
        <li><a href="{{root}}/archive-event.html">Időpontok</a></li>
        <li class="active"><a href="{{root}}/helpinfo.html">Ajándékutalvány</a></li>
        <li><a href="{{root}}/helpinfo.html">Csapatás</a></li>
        <li><a href="{{root}}/helpinfo.html">Help & Info</a>
            <ul class="menu vertical">
                <li class="active"><a href="{{root}}/helpinfo.html">Sétaműhely</a></li>
                <li><a href="{{root}}">Arcok</a></li>
                <li><a href="{{root}}">Segítség a vásárláshoz</a></li>
                <li><a href="{{root}}">Gyakori kérdések</a></li>
                <li><a href="{{root}}">Adatvédelem és ászf</a></li>
                <li><a href="{{root}}">Blog / Sétanapló</a></li>
                <li><a href="{{root}}">Kapcsolat</a></li>
            </ul>
        </li>
    </ul>
</nav>
<div class="mobilecontact">
    <p>
    <strong>Kapcsolatfelvétel</strong><br>
    Tel.: +36 (70) 770 5653<br>
    E-mail: help@setamuhely.hu
    </p>
</div>