<ul class="presslist">
    <li>
        <div class="presslink">
            <h4 class="presslink__title"><a href="#">Itt lakott a gazdagréti Batman</a></h4>
            <p class="presslink__src">
                <span class="presslink__src__medium">Player.hu</span>
                <span class="presslink__src__date">2013.08.21.</span>
            </p>
        </div>
    </li>
    <li>
        <div class="presslink">
            <h4 class="presslink__title"><a href="#">Szomszédok rajongóknak: túrát szerveznek a sorozat helyszínén</a></h4>
            <p class="presslink__src">
                <span class="presslink__src__medium">HVG</span>
                <span class="presslink__src__date">2015.08.11.</span>
            </p>
        </div>
    </li>
    <li>
        <div class="presslink">
            <h4 class="presslink__title"><a href="#">Itt verték össze Vágási Ferit (videó)</a></h4>
            <p class="presslink__src">
                <span class="presslink__src__medium">Index</span>
                <span class="presslink__src__date">2015.08.11.</span>
            </p>
        </div>
    </li>
    <li>
        <div class="presslink">
            <h4 class="presslink__title"><a href="#">Szomszédok rajongóknak: túrát szerveznek a sorozat helyszínén</a></h4>
            <p class="presslink__src">
                <span class="presslink__src__medium">Magyar Narancs Online</span>
                <span class="presslink__src__date">2015.08.11.</span>
            </p>
        </div>
    </li>
</ul>