<div class="promocard">
    <figure class="promocard__fig">
        <a href="single-walk.html" class="promocard__img">
            <img width="640" height="380" src="http://lorempixel.com/640/380" alt="Éljen a piac!">
            <!-- <img src="http://placehold.it/640x640" alt="Éljen a piac!"> -->
        </a>
    </figure>
    <header class="promocard__body">
        <h3 class="promocard__title">
            <a href="single-walk.html">Gazdagréten a szomszédokkal</a>
        </h3>
        <p class="promocard__text"><a href="single-walk.html">Lakótelep a késői Kádár-korszakban</a></p>
        <p class="promocard__subtext">🗓 Hamarosan&hellip;</p>
    </header>
</div>