<div class="promocard">
    <figure class="promocard__fig">
        <a href="single-walk.html" class="promocard__img">
            <img width="640" height="380" src="http://lorempixel.com/672/399" alt="Éljen a piac!">
            <!-- <img src="http://placehold.it/640x640" alt="Éljen a piac!"> -->
        </a>
    </figure>
    <div class="promocard__body">
        <h3 class="promocard__title">
            <a href="single-walk.html">Zsidók és törökök a budai Várban</a>
        </h3>

        <p class="promocard__text"><a href="single-walk.html">Ábrahámi vallások együttélése</a></p>
        <p class="promocard__subtext">🕓 Május. 6. 16:30 &middot; Május. 20. 18:00</p>
    </div>
</div>