<div class="promocard">
    <figure class="promocard__fig">
        <a href="single-walk.html" class="promocard__img">
            <img width="640" height="380" src="http://lorempixel.com/704/418" alt="Éljen a piac!">
            <!-- <img src="http://placehold.it/640x640" alt="Éljen a piac!"> -->
        </a>
    </figure>
    <div class="promocard__body">
        <h3 class="promocard__title">
            <a href="single-walk.html">Köztünk élő muszlimok</a>
        </h3>
        <p class="promocard__text"><a href="single-walk.html">Vallási kisebbség Újbudán</a></p>
        <p class="promocard__subtext">⏰ Szeptember 8. 16:30</p>
    </div>
</div>