<div class="promocard">
    <figure class="promocard__fig">
        <a href="single-walk.html" class="promocard__img">
            <img width="640" height="380" src="http://lorempixel.com/704/418" alt="Éljen a piac!">
            <!-- <img src="http://placehold.it/640x640" alt="Éljen a piac!"> -->
        </a>
    </figure>
    <header class="promocard__head">
        <h3 class="promocard__title">Köztünk élő muszlimok</h3>
        <p class="promocard__text">Indulás: Május 6. 19:00</p>
    </header>
</div>