<footer class="sitefooter ps">
    <aside class="sitefooter__great">
        <div class="row">
            <div class="columns tablet-6 large-4">
                <div class="widget widget--footer">
                    <h3 class="widget__title">Sétaműhely</h3>
                    <p>Magyarország első bla bla Lénárd Anna képzőművész ötletéből nőtt ki, azonban már régen nem egyszemélyes projektről van szó: egy kisebb állandó csapat és idegenvezetők egyre növekvő csoportja élteti.</p>
                </div>
            </div>
            <div class="columns tablet-6 large-4">
                <div class="widget widget--footer">
                    <nav class="contactnav">
                        <h3 class="widget__title">Kapcsolat</h3>
                        <ul class="menu menu--contactmenu vertical">
                            <li><a class="address" href="#"><span>Cím:</span> 1021 Budapest, Budakeszi út 25.</a></li>
                            <li><a class="tel" href="tel:+36707705653"><span>Tel.:</span> 06.70.770.5653</a></li>
                            <li><a class="email" href="mailto:hello@setamuhely.hu"><span>E-mail:</span> hello@setamuhely.hu</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="columns tablet-6 tablet-pull-6 large-4 large-pull-0">
                <div class="widget widget--footer">
                    <aside class="csimpi">
                        <label for="mce-EMAIL"><h3 class="widget__title">Tuti hírlevelünk van</h3></label>
                        <!-- Begin MailChimp Signup Form -->
                        <div id="mc_embed_signup">
                            <form action="//dogdayswear.us12.list-manage.com/subscribe/post-json?u=4392a96715883db49eda0d8bd&amp;id=d5d3bd152a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
                                <div id="mc_embed_signup_scroll">
                                    <div class="input-group">
                                        <input type="email" value="" placeholder="E-mail cím" name="EMAIL" required="" class="input-group-field" id="mce-EMAIL">
                                        <div class="input-group-button">
                                            <input type="submit" value="Jöhet" name="subscribe" id="mc-embedded-subscribe" class="button">
                                        </div>
                                    </div>
                                    <div id="mce-responses" class="mce-responses">
                                    </div>
                                </div></form>
                                <!--End mc_embed_signup-->
                                <p>Új sétákról és ingyenes programokról <a target="_blank" href="http://us12.campaign-archive2.com/home/?u=4392a96715883db49eda0d8bd&amp;id=d5d3bd152a" title="korábbi hírlevelek">értesülj elsőként!</a></p>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
            <div class="row ficonblock">
                <div class="columns tablet-6 large-4">
                    <div class="widget widget--footer">
                        <a class="fbarionlink" href="https://www.barion.com/hu/tajekoztato-biztonsagos-online-fizetesrol" target="_blank" title="Az online fizetést a Barion Payment Zrt. biztosítja, MNB engedély száma: H-EN-I-1064/2013">
                            <span data-tooltip="qfmwnr-tooltip" aria-haspopup="true" class="has-tip right" data-disable-hover="false" tabindex="1" title="" aria-describedby="rrmwfz-tooltip" data-yeti-box="rrmwfz-tooltip" data-toggle="rrmwfz-tooltip" data-resize="rrmwfz-tooltip">
                                <img class="fbarion" width="216" src="http://dogdayswear.com/wp-content/themes/dogdays/dist/images/barion-card-payment-banner.png" alt="Az online fizetést a Barion Payment Zrt. biztosítja, MNB engedély száma: H-EN-I-1064/2013">
                            </span>
                        </a>
                    </div>
                </div>
                <div class="columns tablet-6 large-4 large-pull-4">
                    <div class="widget widget--footer">
                        <nav class="socialnav">
                            <ul class="menu menu--socialmenu text-right">
                                <li><a class="face" target="_blank" title="Facebook" href="#"><i class="icon icon--facebook"></i>Facebook</a></li>
                                <li><a class="insta" target="_blank" title="Instagram" href="#"><i class="icon icon--instagram"></i>Instagram</a></li>
                                <li><a class="flickr" target="_blank" title="Flickr" href="#"><i class="icon icon--flickr"></i>Flickr</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </aside>
        <aside class="sitefooter__small">
            <div class="row column">&copy; 2017 Sétaműhely Kft. Minden jog fenntartva.</div>
        </aside>
    </footer>