<nav class="topbar">
    <div class="row column">
        <div class="topbar__inner">
            <div class="topbar__home">
                <a href="{{root}}/" class="sitelogo">Sétaműhely</a>
            </div>
            <div class="topbar__mainnav">
                <ul class="menu dropdown menu--main" data-dropdown-menu data-click-open="true" data-disable-hover="true">
                    <li><a href="{{root}}/archive-walk.html">Séták</a></li>
                    <li><a href="{{root}}/archive-event.html">Időpontok</a></li>
                    <li><a href="{{root}}/helpinfo.html">Ajándékutalvány</a></li>
                    <li><a href="{{root}}/helpinfo.html">Csapatás</a></li>
                    <li class="is-dropdown-submenu-parent">
                        <a href="{{root}}/helpinfo.html">Help & Info</a>
                        <ul class="menu">
                            <li class="active"><a href="{{root}}/helpinfo.html">Sétaműhely</a></li>
                            <li><a href="{{root}}">Arcok</a></li>
                            <li><a href="{{root}}">Segítség a vásárláshoz</a></li>
                            <li><a href="{{root}}">Gyakori kérdések</a></li>
                            <li><a href="{{root}}">Adatvédelem és ászf</a></li>
                            <li><a href="{{root}}">Blog / Sétanapló</a></li>
                            <li><a href="{{root}}">Kapcsolat</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>