<nav class="topbar">
  <div class="row column">
    <div class="topbar__inner">
      <div class="topbar__home">
        <a href="{{root}}/" class="sitelogo">Sétaműhely</a>
      </div>
      <div class="topbar__mainnav">
        <ul class="menu menu--main">
          <li class="active"><a href="{{root}}/archive-walk.html">Séták</a></li>
          <li><a href="{{root}}/archive-event.html">Naptár</a></li>
          <li><a href="{{root}}/">Ajándékutalvány</a></li>
          <li><a href="{{root}}/single-walk.html">Csapatás</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>