<div class="walkcard">
    <figure class="walkcard__fig">
        <a href="single-walk.html" class="walkcard__img">
            <img src="http://lorempixel.com/640/360" alt="Éljen a piac!">
            <!-- <img src="http://placehold.it/640x360" alt="Éljen a piac!"> -->
        </a>
    </figure>
    <header class="walkcard__head">
        <!-- <p class="walkcard__presents">Somogyi-Rohonczy Zsófia <span>bemutatja</span></p> -->
        <h3 class="walkcard__title"><a href="single-walk.html">Zsidók és törökök a budai Várban</a></h3>
        <h4 class="walkcard__subtitle">Tematikus séta a városfaltól a sóházig</h4>
    </header>
    <div class="walkcard__body">
        <p>Nemcsak a Vásárcsarnokot, és a rakpartra levezető alagútját derítjük fel, de a középkori városfal maradványaitól elindulva felderítjük, mi lett az egykori Fővámházból, a Közraktárakból és a Sóházból.</p>
    </div>
    <footer class="walkcard__foot">
        <div class="walkcard__actions">
            <a href="single-walk.html" class="walkcard__button">Időpontok és részletek&hellip;</a>
        </div>
    </footer>
</div>