<div class="walkcard">
    <section class="walkcard__peak">
        <a href="single-walk.html" class="walkcard__img">
            <img src="http://lorempixel.com/320/180" alt="Éljen a piac!">
        </a>
    </section>
    <section class="walkcard__body">
        <header class="walkcard__head">
            <h3 class="walkcard__title">
            <a href="single-walk.html">Éljen a piac! <small>Tematikus séta a városfaltól a sóházig</small></a>
            </h3>
        </header>
        <div class="walkcard__description">
            <p>Nemcsak a Vásárcsarnokot, és a rakpartra levezető alagútját derítjük fel, de a középkori városfal maradványaitól elindulva felderítjük, mi lett az egykori Fővámházból, a Közraktárakból és a Sóházból.</p>
        </div>
    </section>
    <section class="walkcard__tail">
        <div class="walkcard__smallinfo">
            <p>Ár: <strong>2 500 / 3 500 Ft</strong></p>
            <p>Időt.: <strong>2,5 - 3 óra</strong></p>
        </div>
        <div class="walkcard__actions">
            <a href="single-walk.html" class="button expanded">Részletek</a>
        </div>
    </section>
</div>